# SPDX-License-Identifier: AGPL-3.0-or-later
[Unit]
Description=Periodic Buzzard OS Debian update check

[Timer]
OnBootSec=10min
OnUnitActiveSec=6h
RandomizedDelaySec=30min
Persistent=true
Unit=buzzardos-updater-check.service

[Install]
WantedBy=timers.target
