[Unit]
Description=Buzzard OS Sway desktop session
After=dbus.service
Wants=dbus.service

[Service]
Type=simple
User=buzzard
Group=buzzard
WorkingDirectory=/home/buzzard
Environment=HOME=/home/buzzard
Environment=USER=buzzard
Environment=LOGNAME=buzzard
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=XDG_CONFIG_DIRS=/etc/buzzardos/xdg:/etc/xdg
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=sway
Environment=XDG_SESSION_DESKTOP=sway
Environment=QT_QPA_PLATFORM=wayland;xcb
Environment=QT_QPA_PLATFORMTHEME=gtk3
Environment=QT_ACCESSIBILITY=1
Environment=GTK_MODULES=gail:atk-bridge
Environment=NO_AT_BRIDGE=0
Environment=BUZZARDOS_STATUS_DIR=/run/buzzardos-host
EnvironmentFile=/run/buzzardos-host/driver.env
ExecStart=/usr/lib/buzzardos/runtime/current/libexec/buzzardos-session
ExecStopPost=+/usr/lib/buzzardos/runtime/current/libexec/buzzardos-desktop-stopped
KillMode=mixed
TimeoutStopSec=30
Restart=no

[Install]
WantedBy=multi-user.target
