[Desktop Entry]
Type=Application
Version=1.0
Name=Settings
GenericName=System Settings
Comment=Configure the persistent Wild Buzzard guest desktop
Exec=/opt/wildbuzzard/runtime/current/libexec/wildbuzzard-settings
TryExec=/opt/wildbuzzard/runtime/current/libexec/wildbuzzard-settings
Icon=wildbuzzard-settings
Terminal=false
Categories=Settings;System;
Keywords=appearance;display;sound;applications;desktop;updates;
StartupNotify=true
StartupWMClass=org.openresearchtools.WildBuzzard.Settings1
