[Desktop Entry]
Type=Application
Name=Buzzard OS
Comment=Persistent rootless desktop machine
Exec=buzzardos
Icon=buzzardos
StartupWMClass=org.openresearchtools.buzzardos
Terminal=false
Categories=System;Emulator;
Keywords=container;desktop;wayland;vm;
